<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Рассылка</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <textarea nbInput required placeholder="Сообщение" #mailingContent></textarea>
          </div>
          <p>{{this.responseMessage}}</p>
          <button type="button" nbButton status="success" (click)="sendMailing(mailingContent.value)">Отправить сообщение</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>