<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Данные EasyPay</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <h5>Логин (EasyPay):</h5>
            <textarea nbInput required placeholder="Логин" #loginFormEasyPay></textarea>
          </div>
          <div class="form-group">
            <h5>Пароль (EasyPay):</h5>
            <textarea nbInput required placeholder="Пароль" #passwordFormEasyPay></textarea>
          </div>
          <p>{{this.responseMessageEasyPay}}</p>
          <button type="button" nbButton status="success" (click)="updateEasyPay(loginFormEasyPay.value, passwordFormEasyPay.value)">Сохранить (EasyPay)</button>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Данные GlobalMoney</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <h5>Логин (GlobalMoney):</h5>
            <textarea nbInput required placeholder="Логин" #loginFormGlobal></textarea>
          </div>
          <div class="form-group">
            <h5>Пароль (GlobalMoney):</h5>
            <textarea nbInput required placeholder="Пароль" #passwordFormGlobal></textarea>
          </div>
          <p>{{this.responseMessageGlobalMoney}}</p>
          <button type="button" nbButton status="success" (click)="updateGlobalMoney(loginFormGlobal.value, passwordFormGlobal.value)">Сохранить (GlobalMoney)</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>