<div class="row">

<div class="col-md-12">
    <nb-card size="large">
      <nb-card-header>
        Статистика
      </nb-card-header>
      <nb-card-body>
        <div class="colors">
          <div class="item text-success">
            <div class="color bg-status-success"></div>
            <div>
              <h5 class="text-success">Доход</h5>
              Ваш общий доход за всё время составялет: {{roundNumber(statisticObject.price)}} грн.
              <br>
              Общее количество продаж за всё время составялет: {{statisticObject.sellingCount}} шт.
            </div>
          </div>
          <div class="item text-info">
            <div class="color bg-status-info"></div>
            <div>
              <h5 class="text-info">Пользователи</h5>
              Общее количество пользователей за всё время составялет: {{statisticObject.usersCount}} шт.
            </div>
          </div>
          <div class="item text-heading">
            <div class="color bg-heading"></div>
            <div>
              <h5 class="text-heading">Остаток</h5>
              <ng-container *ngFor="let product of statisticObject.products" >
                Имя товара: "{{product.title}}", Цена: {{product.price}} грн, Остаток: {{transformStock(product.stock)}} шт.
                <br>
              </ng-container>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
